---
import { Picture } from 'astro:assets';
import type { Project } from '~/types';
import { findImage } from '~/utils/images';

import { getPermalink } from '~/utils/permalinks';

export interface Props {
  project: Project;
}

const { project } = Astro.props;

const image = await findImage(project.image);
---

<div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
  <a href={getPermalink(project.permalink, 'project')} class="text-2xl font-semibold hover:text-primary dark:hover:text-blue-700  transition ease-in duration-200">
    <div class="flex-shrink-0">
      {image && (
        <Picture
          src={image}
          class="h-48 w-full object-cover"
          widths={[400, 900]}
          sizes="(max-width: 900px) 400px, 900px"
          alt={project.title}
          aspectRatio="16:9"
          loading="lazy"
          decoding="async"
        />
      )}
    </div>
    <div class="flex flex-1 flex-col justify-center bg-gray-100 dark:bg-neutral-900 p-6 text-center">
      <div class="flex-1">{project.title}</div>
    </div>
  </a>
</div>