---
import type { Project } from '~/types';

import { getPermalink } from '~/utils/permalinks';

export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
  <a href={getPermalink(project.permalink, 'project')} class="text-2xl font-semibold hover:text-primary dark:hover:text-blue-700  transition ease-in duration-200">
    <div class="flex-shrink-0">
        <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
    </div>
    <div class="flex flex-1 flex-col justify-center bg-gray-100 dark:bg-neutral-900 p-6 text-center">
      <div class="flex-1">{project.title}</div>
    </div>
  </a>
</div>