---
import PortfolioGridItem from '~/components/portfolio/PortfolioGridItem.astro';
import { fetchProjects } from '~/utils/portfolio';

const projects = await fetchProjects();
---

<section class="px-4 py-4 mx-auto max-w-6xl">
  <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
    <div class="md:max-w-sm">
      <h2
        class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
      >Featured Projects</h2>
    </div>
  </div>
  <div class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3">
    {projects.map((project) => <PortfolioGridItem project={project} />)}
  </div>
</section>
