---
import { Icon } from 'astro-icon/components';
---

<footer class="relative border-t border-gray-200 dark:border-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Made with <Icon name="tabler:heart-filled" class="w-4 h-4 inline-block -mt-0.5 text-red-500" /> by mastercoms
      </div>
    </div>
  </div>
</footer>
