---
import { Icon } from 'astro-icon/components';
import { getHomePermalink, getPermalink } from '~/utils/permalinks';

const links = [
  {
    title: 'Product',
    items: [
      { title: 'Features', href: '#' },
      { title: 'Security', href: '#' },
      { title: 'Team', href: '#' },
      { title: 'Enterprise', href: '#' },
      { title: 'Customer stories', href: '#' },
      { title: 'Pricing', href: '#' },
      { title: 'Resources', href: '#' },
    ],
  },
  {
    title: 'Platform',
    items: [
      { title: 'Developer API', href: '#' },
      { title: 'Partners', href: '#' },
      { title: 'Atom', href: '#' },
      { title: 'Electron', href: '#' },
      { title: 'AstroWind Desktop', href: '#' },
    ],
  },
  {
    title: 'Support',
    items: [
      { title: 'Docs', href: '#' },
      { title: 'Community Forum', href: '#' },
      { title: 'Professional Services', href: '#' },
      { title: 'Skills', href: '#' },
      { title: 'Status', href: '#' },
    ],
  },
  {
    title: 'Company',
    items: [
      { title: 'About', href: '#' },
      { title: 'Blog', href: '#' },
      { title: 'Careers', href: '#' },
      { title: 'Press', href: '#' },
      { title: 'Inclusion', href: '#' },
      { title: 'Social Impact', href: '#' },
      { title: 'Shop', href: '#' },
    ],
  },
];

const social = [
  { label: 'Twitter', icon: 'tabler:brand-twitter', href: '#' },
  { label: 'Instagram', icon: 'tabler:brand-instagram', href: '#' },
  { label: 'Facebook', icon: 'tabler:brand-facebook', href: '#' },
  { label: 'RSS', icon: 'tabler:rss', href: getPermalink('/rss.xml') },
  { label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/onwidget/astrowind' },
];
---

<footer class="relative border-t border-gray-200 dark:border-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Copyright mastercoms.
      </div>
    </div>
  </div>
</footer>
