---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2">Contact me</h2>
    <p class="max-w-lg text-center text-xl font-medium text-gray-500 mb-8 dark:text-slate-400">
      Feel free to reach out!<br /><br /><strong>Email: mastercoms@tuta.io</strong><br /><br />Or connect on social
      media with @mastercoms:
      <ul class="mx-auto text-center">
        <li>Steam</li>
        <li>Bluesky: @mcoms.dev</li>
        <li>Twitter</li>
        <li>Cohost</li>
      </ul>
    </p>
  </div>
</Layout>
