---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import PortfolioGrid from '~/components/portfolio/PortfolioGrid.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
  >
    <Fragment slot="title">
      Hi, I'm<br/><strong>mastercoms</strong>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block mb-1 font-bold text-primary-600 text-3xl">and I love to code!</span>
      I've always been enchanted by computers ever since I was little, <br class="hidden md:inline"/>
      and now I'm a professional software engineer and open source maintainer <br class="hidden md:inline"/>
      interested in games, web, and high performance computing.
    </Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <HighlightedPosts
    title="Recent posts"
    information={`I write often about new things I encounter in tech, as well as findings in my personal life.`}
  />

  <PortfolioGrid />
</Layout>
